{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message">Link Fitbit Account</h2>

      <form method="GET" id="link_fitbit" action="/">
        <a href={{url}}>Link Fitbit Account</a>
        <!-- Display fitbit account id or name if linked -->
        <!-- Figure out how to write fitbit access data to db once returning-->
        <button class="btn btn-primary btn-block btn-lg">Skip</button>
      </form>
    </div>
  </div>
{% endblock %}