{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message">Log Weight</h2>

      <form method="POST" id="wt-ip-form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          <!-- {% if request.method == 'POST' and field.errors %} -->
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
          <!-- {% endif %} -->
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary btn-block btn-lg">Log Weight</button>
      </form>
      <form action="/">
        <input type="submit" value="Return" class="btn btn-secondary"></input>
      </form>
    </div>
  </div>
{% endblock %}