{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message">Log Weight</h2>

      <form method="POST" id="wt-ip-form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          <!-- {% if request.method == 'POST' and field.errors %} -->
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
          <!-- {% endif %} -->
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary btn-block btn-lg">Log Weight</button>
      </form>
      <form action="/">
        <input type="submit" value="Return" class="btn btn-secondary"></input>
      </form>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-9 col-lg-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Log Date</th>
                    <th>Weight (kg)</th>
                    <th>Body Fat %</th>
                    <th>BMR</th>
                </tr>
            </thead>
            <tbody>
                {% for wt in wts %}
                    <tr id="wt-{{wt.id}}">
                        <td>{{wt.wt_dt.date()}}</td>
                        <td>{{wt.wt}}</td>
                        <td>{{wt.fat_perc}}</td>
                        <td>{{wt.bmr}}</td>
                        <td><i id="dlt_{{wt.id}}" data-id="{{wt.id}}" class="fas fa-trash delete-wt"></i></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="{{ url_for('static', filename='logwt.js') }}"></script>
{% endblock %}