{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <h2>User Details</h2>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <div class="card" id="details-card">
                <div id="detail-card-header" class="card-header">
                    <h2>{{user.username}}</h2>
                </div>
                <div class="card-body">
                    <ul id="user-details-list">
                        <li>Email: {{user.email}}</li>
                        <li>Birth Date: {{user.birth_dt}}</li>
                        <li>Gender: {{user.gender}}</li>
                        <li>Height: {{user.height}} cm</li>
                    </ul>
                    <a href="/users/{{user.id}}/usersetup" class="btn btn-primary btn-block btn-md">Edit</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}